/* styles.css */

body {
    display: flex; /* Sử dụng flex để hiển thị nội dung */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Chiều cao của viewport */
    background-color: #f4f4f4; /* Màu nền */
    margin: 0; /* Xóa margin mặc định */
}

.container {
    background-color: white; /* Màu nền cho form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Chiều rộng của form */
    z-index: 1000; /* Đảm bảo container nằm trên các phần tử khác */
}

h3 {
    color: #3498db; /* Màu tiêu đề */
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: cadetblue; /* Màu nút */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%; /* Đặt chiều rộng nút bằng 100% */
}

    button:hover {
        background-color: #2980b9; /* Màu nút khi hover */
    }

/* Thêm lớp phủ cho modal */
.rz-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền mờ cho lớp phủ */
    z-index: 999; /* Đảm bảo lớp phủ nằm trên các phần tử khác */
}


